/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  padding: 20px;
}
.appointment-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  font-family: Roboto;
}

.form {
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 25px;
  color: #171f46;
}
.label {
  color: #b5b7c4;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}
.title-input {
  padding-left: 5px;
  color: #171f46;
  height: 30px;
  outline: none;
  width: 250px;
}
.date-input {
  padding-left: 5px;
  color: #171f46;
  height: 30px;
  outline: none;
  width: 250px;
}
.add-btn {
  background-color: #8b5cf6;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
}
.image {
  height: 200px;
  width: 250px;
  display: none;
}
.line {
  border: 1px solid #b5b7c4;
  margin-top: 20px;
  width: 100%;
}
.appointments-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-heading {
  font-size: 15px;
  color: #171f46;
}
.active-starred {
  background-color: #9897f0;
  border-width: 0;
  border-radius: 10px;
  color: #ffffff;
  height: 20px;
  width: 60px;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}
.starred {
  background-color: transparent;
  border-width: 0;
  border-radius: 10px;
  color: #9897f0;
  height: 20px;
  width: 60px;
  border: 1px solid #9897f0;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}
.appointment-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to top, #9796f0, #fbc7d4);
    padding: 30px;
    justify-content: center;
  }
  .appointment-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    font-family: Roboto;
  }
  .form-image-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .heading {
    font-size: 35px;
    color: #171f46;
  }
  .label {
    color: #b5b7c4;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .title-input {
    padding-left: 10px;
    color: #171f46;
    height: 45px;
    outline: none;
    width: 350px;
  }
  .date-input {
    padding-left: 10px;
    color: #171f46;
    height: 45px;
    outline: none;
    width: 350px;
  }
  .add-btn {
    background-color: #8b5cf6;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    border-width: 0;
    color: #ffffff;
    font-size: 18px;
  }
  .image {
    height: 250px;
    width: 300px;
    display: inline;
  }
  .line {
    border: 1px solid #b5b7c4;
    margin-top: 20px;
    width: 100%;
  }
  .appointments-con {
    display: flex;

    align-items: center;
  }
  .sub-heading {
    font-size: 25px;
    color: #171f46;
  }
  .active-starred {
    background-color: #9897f0;
    border-width: 0;
    border-radius: 10px;
    color: #ffffff;
    height: 25px;
    width: 70px;
    outline: none;
    font-size: 12px;
  }
  .starred {
    background-color: transparent;
    border-width: 0;
    border-radius: 10px;
    color: #9897f0;
    height: 25px;
    width: 70px;
    border: 1px solid #9897f0;
    outline: none;
    font-size: 12px;
  }
  .appointment-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
